# Ignore all files using an opt-inn approach
*

# Add .gitignore and .gitattributes
!.gitignore
!.gitattributes

# Add license
!LICENSE.txt

# Add text files
!todo.txt
!changes.txt

# Add md files
!*.md

# Add batch files
!*.cmd

# Add Excel program file
!Afspraken*.xlsm

# Add source files
!/src/
!/src/document/
!/src/document/*.doccls
!/src/class/
!/src/class/*.cls
!/src/module/
!/src/module/*.bas
!/src/form/
!/src/form/*.frm

# Add sheet formulas
!/src/sheet/
!/src/sheet/*.txt

# Add range names
!/src/name/
!/src/name/*.txt

# Add docs
!/docs/
!/docs/img/
!/docs/img/*.png

# Add tests
!/tests/
!/tests/*.xlsx

# Add db files
!/db/
!/db/*.xlsx
!/db/*.xlsm
